


	<div class="container" ng-controller="SignupController as signupCtrl">


		<h1>New User Registration</h1>

		<form class="form-horizontal" name="regForm" novalidate>

			<div class="form-group">
				<div class="col-md-2">
					<label>First Name</label>
				</div>
				<div class="col-md-5">
					<input type="text" name="firstname" class="form-control" ng-model="signupCtrl.user.firstname" required>
					<div class="alert alert-danger" ng-show="(regForm.firstname.$touched || regForm.$submitted) && regForm.firstname.$error.required">
						Name is required
					</div>
				</div>
			</div>

      <div class="form-group">
				<div class="col-md-2">
					<label>Last Name</label>
				</div>
				<div class="col-md-5">
					<input type="text" name="lastname" class="form-control" ng-model="signupCtrl.user.lastname" required>
					<div class="alert alert-danger" ng-show="(regForm.lastname.$touched || regForm.$submitted) && regForm.lastname.$error.required">
						Name is required
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2">
					<label>Phone Number</label>
				</div>
				<div class="col-md-5">
					<input type="number" name="phone" class="form-control" ng-model="signupCtrl.user.phone" ng-required="true">
					<div class="alert alert-danger" ng-show="(regForm.phone.$touched || regForm.$submitted) && regForm.phone.$error.required">
						Phone is required
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-2">
					<label>Email Address</label>
				</div>
				<div class="col-md-5">
					<input type="email" name="emailAddress" class="form-control" ng-model="signupCtrl.user.email" ng-required="true">
					<div class="alert alert-danger" ng-show="(regForm.emailAddress.$touched || regForm.$submitted) && regForm.emailAddress.$error.required">
						Email Address is required
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-2">
					<label>Short Name</label>
				</div>
				<div class="col-md-5">
					<input type="text" name="shortName" class="form-control" ng-model="signupCtrl.user.shortname" ng-required="true">
				 <div class="alert alert-danger" ng-hide="signupCtrl.validShortName">
						No such menu number exists
				</div>

			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-5">
          <button
            ng-disabled="regForm.$invalid"
            ng-click="signupCtrl.submit()">Submit</button>


					<button class="btn btn-default" ng-click = "signupCtrl.reset()">Reset</button>
				</div>
			</div>
		</form>
		<div id="info" ng-if="signupCtrl.completed">
		Your information has been saved {{signupCtrl.user.firstname}}&nbsp;{{signupCtrl.user.lastname}}
		</div>

	</div>
